@import "./reset.css";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");
body {
	font-family: "Source Sans Pro", sans-serif;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

h2 {
	font-size: 2.25rem;
	line-height: 2.75rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.75rem;
	font-weight: 700;
}

p {
	font-size: 1.5rem;
	line-height: 1.75rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.body-1 {
	font-size: 1rem;
}

.outer-wrapper {
	padding: 1rem;
	background: #5dd3c9;
}

.inner-wrapper {
	padding: 1rem;
	background: white;
	border-radius: 5px;
	min-height: 100vh;
}

nav {
	margin-bottom: 4rem;
}

.spacer {
	margin: 2rem 0;
	height: 0.75rem;
	width: 8rem;
	background: teal;
}

section {
	margin: 2rem 0 1rem 0;
	cursor: pointer;
	background: white;
	border-bottom: none;
}

.project-wrapper {
	border-bottom: 0.25rem solid transparent;
}

.project-wrapper:hover {
	border-bottom: 0.25rem solid rgba(0, 0, 0, 0.2);
}

.project-wrapper.expanded {
	border-bottom: 0.25rem solid rgba(0, 0, 0, 0.2);
}
